// //main text color
$color-gray: #878680;
$color-gray-1: #E4E2D7;
$color-gray-footer: #A5A49A;
$color-green: #4BAF47;
$color-black: #1F1E17;
$color-bg-social: #F8F7F0;
$color-bg-footer: #24231D;
// //main texts sites
$color-yellow: #EEC044;
// $color-brown-darck: #a14f03;
$color-white: #ffffff;
// $color-black: #000;

// //basic shadow for buttons
$box-shadow: 0rem 0.4rem 3.4rem rgba(0, 0, 0, 0.1);
// $shadaw-h2: 0rem .4rem 4rem rgba($color-black, .25);

// $grid-width: 114rem;
// $margin-vertical-big: 8rem;
// $gutter-horizontal: 6rem;

$font-size-paragraph: 1.6rem;
// $font-size-h2: 3.6rem;
// $font-size-h3: 2rem;